<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<Config>
<Test type="CTS">
    <Action name="all">
        <Command>run cts</Command>
        <Command platform="8.1" version="r5">run cts-suite</Command>
    </Action>
    <Action name="plan">
        <Command>run cts --plan %1</Command>
        <Command platform="7.0">run cts --subplan %1</Command>
    </Action>
    <Action name="retry">
        <Command>run cts -r %1</Command>
    </Action>
    <Action name="module">
        <Command>run cts -m %1</Command>
    </Action>
    <Action name="single">
        <Command>run cts -m %1 -t %2</Command>
    </Action>
</Test>

<Test type="GTS">
    <Action name="all">
        <Command>run gts-suite</Command>
    </Action>
    <Action name="plan">
        <Command>run gts --subplan %1</Command>
    </Action>
    <Action name="retry">
        <Command>run retry -r %1</Command>
    </Action>
    <Action name="module">
        <Command>run gts -m %1</Command>
    </Action>
    <Action name="single">
        <Command>run gts -m %1 -t %2</Command>
    </Action>
</Test>

<Test type="VTS">
    <Action name="all">
        <Command>run vts</Command>
    </Action>
    <Action name="plan">
        <Command>run vts --subplan %1</Command>
    </Action>
    <Action name="retry">
        <Command>run vts -r %1</Command>
    </Action>
    <Action name="module">
        <Command>run vts -m %1</Command>
    </Action>
    <Action name="single">
        <Command>run vts -m %1 -t %2</Command>
    </Action>
</Test>

<Test type="GSI">
    <Action name="all">
        <Command>run cts-on-gsi</Command>
    </Action>
    <Action name="plan">
        <Command>run cts-on-gsi --subplan %1</Command>
    </Action>
    <Action name="retry">
        <Command>run cts-on-gsi -r %1</Command>
    </Action>
    <Action name="module">
        <Command>run cts-on-gsi -m %1</Command>
    </Action>
    <Action name="single">
        <Command>run cts-on-gsi -m %1 -t %2</Command>
    </Action>
</Test>
</Config>
