<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<Config>
<Test type="CTS">
    <Action name="all">
        <Command>run cts</Command>
    </Action>
    <Action name="plan">
        <Command>run cts --plan %1</Command>
        <Command platform="O">run cts --subplan %1</Command>
    </Action>
    <Action name="retry">
        <Command>run cts -r %1</Command>
    </Action>
    <Action name="module">
        <Command>run cts -m %1</Command>
    </Action>
    <Action name="single">
        <Command>run cts -m %1 -t %2</Command>
    </Action>
</Test>

<Test type="GTS">
    <Action name="all">
        <Command>run gts</Command>
    </Action>
    <Action name="plan">
        <Command>run gts --plan %1</Command>
        <Command platform="O">run cts --subplan %1</Command>
    </Action>
    <Action name="retry">
        <Command>run gts -r %1</Command>
    </Action>
    <Action name="module">
        <Command>run gts -m %1</Command>
    </Action>
    <Action name="single">
        <Command>run gts -m %1 -t %2</Command>
    </Action>
</Test>

<Test type="VTS">
    <Action name="all">
        <Command>run vts</Command>
    </Action>
    <Action name="plan">
        <Command>run vts --plan %1</Command>
        <Command platform="O">run cts --subplan %1</Command>
    </Action>
    <Action name="retry">
        <Command>run vts -r %1</Command>
    </Action>
    <Action name="module">
        <Command>run vts -m %1</Command>
    </Action>
    <Action name="single">
        <Command>run vts -m %1 -t %2</Command>
    </Action>
</Test>

<Server>
   <Ip name="127">192.168.3.127</Ip>
   <Ip name="31">192.168.0.31</Ip>
</Server>



</Config>
